<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"><img src="../img/logoModGrad.png" width="30" height="30"
                class=" rounded-circle d-inline-block align-top" alt=""></a>
        <a class="navbar-brand">ModGrad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">            
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inicio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Ir a inicio</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">GTST - Quienes somos.</a>                        
                        <a target="_blank" class="dropdown-item" href="https://www.usco.edu.co">Universidad Surcolombiana</a>
                    </div>
                </li>                
            </ul>
            <a href="/users/signinForm">            
                <button class="btn btn-outline-secondary my-2 my-sm-0 text-light bg-dark font-weight-bold">Iniciar sesión</button>
            </a>
        </div>
    </div>
</nav>