<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-0 text-center border-secondary ">
            <div class="card-header bg-dark">
                <h1 class="h4 text-white">ModGrad </h1>
                <h1 class="h6 text-white">Buscar profesor</h1>
            </div>
            <div class="card-body">
                <img class="rounded-circle mx-auto d-block logo mt-0 mb-2" src="../img/logoModGrad.png" width="60"
                    height="60" alt="Logo">
                <form action="/users/userByIdFinded" method="POST">                    
                    <div class="form-group">
                        <input type="text" class="form-control bg-light" name="identification" placeholder="Cédula" >
                    </div>                                                          
                    <button class="btn btn-secondary btn-block">
                        Buscar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>