<h1>Bienvenido a ModGrad - App</h1>
<br>
<h4>Estamos trabajando para automatizar el proceso de recuperación de contraseñas!!!</h4>
<br>
<p>Si has olvidado tu contraseña por favor envíanos un correo desde tu correo institucional indicándonos tu número de
    identificación a cualquiera de estas direcciones: </p>
<br>
<h5>gtst@usco.edu.co</h5>

<h5>albecor@usco.edu.co</h5>


<br> <br>

<a href="/"><button class="btn btn-outline-secondary my-0 my-sm-0 text-white bg-dark font-weight-bold">Ir a
        inicio</button></a>